body {
    box-sizing: border-box;
    background: #ddc3b0;
}

#app {
    height: 100vh;
    display: flex;    
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

/* select direct children */
#app > * {
    width: 300px;    
    /* width: min(25%, 300px); */
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    /* position: relative; */
    
}